@model int
<div class="container row mt-5 mb-5 pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed successfully</h1>
        Your Order Number is : @Model <br /><br />
        <img style="width: 175px; height:120px" src="~/images/lawn_leaf.jpg" />
    </div>
    <div class="col-12 text-center pb-4" style="color : maroon">
        <br />
        Your order has been placed succesfully <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model">Back to Details</a>
    </div>
</div>