html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.form-container{
    /*max-height:300px;
    overflow-y:auto;*/
}
.edit-container{
   /* max-height:300px;
    overflow-y:auto;*/
}
body {
    /* margin-bottom: 60px;*/
    min-height: 100vh;
}
/*header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}*/
footer{
    position:fixed;
    bottom:0;
    width:100%;
}