html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /* margin-bottom: 60px;*/
    min-height: 100vh;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
}
.divider-text:before,
.divider-text::after
{
    color:white;
    content:"";
    flex:1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
}
/*.picHome {
    float: left;
    width: 100%;
    height: 75%;
    object-fit: cover;
}*/