html {
  font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    height:100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
html {
    position: relative;
    min-height: 100%;
    height: 100%;   
}
body {    
    min-height: 100vh;
}

.divider-text:before,
.divider-text::after
{
    color:white;
    content:"";
    flex:1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
}
a{
    text-decoration:none;
}
a:hover
{
    color:aliceblue;
}