@{
    ViewBag.Title = "My ASP.NET MVC View";
}

<div class="row mt-5" id="mydiv">

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>

<script type="text/babel">
    // Your React component
    function Hello() {
        return <h1>Hello World!</h1>;
    }

    // Get the container element
    const container = document.getElementById('mydiv');

    // Render the React component into the container
    ReactDOM.render(<Hello />, container);
   </script>
</div>
<div class="row pt-3 text-center">
        <p>We are about to load a new E-commerce Web Site in 3 months.</p>
        <p>It is going to be a bit different, Cheers!</p>    
</div>

