@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="mt-5 mb-5"></div>
</div>
 <div class="row pb-5">
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="D:\WebProjects\ProductLayout\pexels-photo-3910073.webp" class="card-img-top img-fluid border-2" alt="Product 1">
            <div class="card-body border-2">
                    <p class="card-text border-2">Description of Product 1.</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
            </div>
        </div>
     </div>
    <div class="col-md-3">
         <div class="card mb-3">
            <img src="D:\WebProjects\ProductLayout\pexels-photo-3910073.webp" class="card-img-top img-fluid border-2" alt="Product 1">
              <div class="card-body border-2">
                    <p class="card-text border-2">Description of Product 1.</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
            <img src=C:\Users\tmp\source\repos\BulkyWeb\BulkyWeb\images\free-photo-of-railway-station-in-minsk.jpeg class="card-img-top img-fluid border-2" alt="Product 1">
                <div class="card-body border-2">
                    <p class="card-text border-2">Description of Product 1.</p>
                    <a href="#" class="btn btn-dark">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
           <div class="card mb-3">
               <img src=C:\Users\tmp\source\repos\BulkyWeb\BulkyWeb\images\free-photo-of-railway-station-in-minsk.jpeg class="card-img-top img-fluid border-2" alt="Product 1">
               <div class="card-body border-2">
                  <p class="card-text border-2">Description of Product 1.</p>
                  <a href="#" class="btn btn-dark">Buy Now</a>
               </div>
           </div>
       </div>
 </div>
